.FaqQuestion {
  background-color: rgba(215, 215, 215, 0.13);
  width: 200px;
  cursor: pointer;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FaqPanel {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.Active {
  max-height: 100px;
  transition: all 0.5s ease-in-out;
}
